@media (max-width: 540px) {
    body {
        width: 100vw;
    }

    header {
        padding-right: 15px;
    }

    #separator {
        font-size: 4.5em;
    }

    #hour, #minute, #second {
        height: 70px;
        width: 70px;
        font-size: 4.5em;
    }
}
