@font-face {
    font-family: 'Digital-7';
    src: url(../fonts/digital-7_mono.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

body,
.clock-container,
button {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease;
}

header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

.theme-toggler {
    width: 61px;
    height: 32px;
    background-color: gray;
    border: solid 1px silver;
    border-radius: 20px;
    display: flex;

    img {
        width: 50%;
    }
}

#btn-toggler {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    transition: ease-in-out 0.2s;
}

.clock-container {
    display: flex;
    background-color: #19162248;
    border-radius: 20px;
    padding: 10px 30px;
}

#separator {
    background: transparent;
    font-size: 7em;
    font-family: 'Digital-7';
    font-weight: 700;
}

#hour, #minute, #second {
    background: transparent;
    height: 120px;
    width: 120px;
    font-size: 7em;
    font-family: 'Digital-7';
    text-align: center;
    border: none;
}

.btn-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#start {
    width: 46px;
    height: 46px;
    border: none;
    background: none;
    background-image: url('../img/play.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.08);        
    }
}

#pause {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    background-image: url('../img/pause.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.08);       
    }
}

#reset {
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    background-image: url('../img/reset.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.08);      
    }
}

.darkmode {
    background-color: #191622;
    color: #67E480;
    transition: ease-in-out 0.2s;
}

.lightmode {
    background-color: #cac2e1;
    color: #08120a;
    transition: ease-in-out 0.2s;

    &#btn-toggler {
        translate: 30px;
    }
}

@keyframes pulseFinish {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.timer-finish {
  animation: pulseFinish 0.6s ease-in-out 3;
}